{% extends 'app_rest_api/base.html' %}

{% block title %}How to consume REST APIs with Django{% endblock title %}

{% block style %}
    .container {
        margin-top: 3rem;
    }
    h2 {
        text-align: center;
        font-weight: 700;
    }
{% endblock style %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2>How to consume RESTful APIs with Django</h2>
            </div>

            <ul class="list-group list-group-flush">
                {% for item in todos %}
                    <li class="list-group-item">{{ item.id }} - {{ item.title }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}